#  [OS VERSION] 
KALI_VERSION=rolling

#  [SECURITY] 
USERNAME=ASEP_SAPUTRA
PASSWORD=PASSWORD_ASEP_SAPUTRA

#  [NETWORKING] 
PORT=7681

#  [SYSTEM CONFIG] 
DEBIAN_FRONTEND=noninteractive
TZ=Asia/Jakarta

#  [OPTIONAL: KALI TOOLS] 
# Options: core, default, everything, top10
KALI_METAPACKAGE=core

#  [METADATA] 
PROJECT_NAME=kali-on-browser
MAINTAINER=ASEP_SAPUTRA
LICENSE=MIT